<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body ng-app="ToDo">

    <input type="text" ng-model="query" />
    {{task}}

    <br />

    <select ng-model="order">
        <option value="name">By name</option>
        <option value="adresse">By adresse</option>
    </select>

    <!--  <div ng-init="users=[ {username:'Marc', contenu:'bodyBuilder'},{username:'jhon', contenu:'programming'},
                         {username:'Jervino', contenu:'football'}]">
  -->
    <div ng-controller="MainController as main">
        <div ng-repeat="comment in main.comments | filter:{name : query} | orderBy :order">
            <p><strong>{{comment.name}}</strong></p>
            <p>{{comment.address}}</p>
        </div>
        <form ng-submit=main.addToComments(main.addComment)>
            <input ng-model="main.addComment">
            <input type="submit" value="Add to the Comments Array" />
        </form>

    </div>

    <div ng-controller="MainController as main">

        <singlelist  mylist="main.do"></singlelist>
        <input type="text" placeholder="add activity" ng-model="main.activity">
        <button ng-click="main.addO(main.do.list,main.activity)">Add</button>

        <singlelist mylist="main.books"></singlelist>
        <input type="text" placeholder="add a book" ng-model="main.book">
        <button ng-click="main.addO(main.books.list,main.book)">Add</button>
    </div>



    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <!--les modules-->
    <script src="js/app.js"></script>
    <!--les services-->
    <script src="js/services/nyt.js"></script>
    <!--les controlleurs-->
    <script src="js/controllers/MainController.js"></script>
    <!--les directives-->
    <script src="js/directives/singlelist.js"></script>
</body>

</html>